
# Created by https://www.toptal.com/developers/gitignore/api/scala,spark,sbt
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,spark,sbt


### IntelliJ ###
### added 4.20.22 by Brian after merge conflicts
.idea/modules/untitled-build.iml                              
.idea/modules/untitled.iml                                    
'.idea/modules/untitled.iml'                                  
.idea/sbt.xml                                                 
.bsp/sbt.json                                                 
target/.history3                                              
target/streams/_global/_global/dumpStructure/_global/streams/o
target/streams/_global/updateClassifiers/_global/streams/out  
target/streams/compile/externalDependencyClasspath/_global/str
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/expo
target/streams/compile/unmanagedJars/_global/streams/export   
target/streams/runtime/externalDependencyClasspath/_global/str
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/expo
target/streams/runtime/unmanagedJars/_global/streams/export   
target/streams/test/externalDependencyClasspath/_global/stream
target/streams/test/managedClasspath/_global/streams/export   
target/streams/test/unmanagedClasspath/_global/streams/export 
target/streams/test/unmanagedJars/_global/streams/export      



### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Spark ###
*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
/lib/
R-unit-tests.log
R/unit-tests.out
R/cran-check.out
R/pkg/vignettes/sparkr-vignettes.html
R/pkg/tests/fulltests/Rplots.pdf
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
dependency-reduced-pom.xml
derby.log
dev/create-release/*final
dev/create-release/*txt
dev/pr-deps/
dist/
docs/_site
docs/api
sql/docs
sql/site
lint-r-report.log
log/
logs/
out/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
python/lib/pyspark.zip
python/deps
python/test_coverage/coverage_data
python/test_coverage/htmlcov
python/pyspark/python
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-*-bin-*.tgz
spark-tests.log
streaming-tests.log
unit-tests.log
work/
docs/.jekyll-metadata

# For Hive
TempStatsStore/
metastore/
metastore_db/
sql/hive-thriftserver/test_warehouses
warehouse/
spark-warehouse/

# For R session data
.RData
.RHistory
.Rhistory
*.Rproj
*.Rproj.*

.Rproj.user

# For SBT
.jvmopts

# For VS Code
.metals/
.bloop/
.ammonite/
metals.sbt
/.bsp/
project/
.vscode/



# End of https://www.toptal.com/developers/gitignore/api/scala,spark,sbt
